$bgColorLight: #f0f2f1;
$bgColorDark: #1B262C;
$bgColorHeaderLight: black;
$bgColorHeaderDark: #0F4C75;
$colorMyTasks: white;
$bgColorTasksLight: white;
$bgColorTasksDark: rgb(21,32,43);
$bgColorAddTaskDark: #003F5C;
$bgColorSaveTaskDark: #346751;
$bgColorInputLight: #f6f6f6;
$bgColorInputDark: #909296;
$borderInputLight: 4px solid whitesmoke;
$borderInputDark: 4px solid #909296;
$colorTextInputDark: white;
$borderListOfTasksLight: 1px solid lightgrey;
$borderListOfTasksDark: 1px solid #38444d;
$colorIconsDark: #f6f6f6;