@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;500;700&display=swap');

body {
  margin: 0;
  background-color: variables.$bgColorLight;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', serif;
}

.themeContainer {
  display: flex;
  justify-content: center;
}

#themeBtn {
  width: 90px;
  height: 30px;
  margin: 15px;
  border: transparent;
  border-radius: 100px;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#circle {
  width: 25px;
  height: 25px;
  border-radius: 90px;
  z-index: 2;
  background-color: white;
  position: relative;
  top: 17px;
  right: 102px;
  cursor: pointer;
}

#moon {
  z-index: 3;
  font-size: 15px;
  position: relative;
  top: -2px;
  right: 3px;
}

.tasks {
  width: 354px;
  height: 460px;
  border-radius: 5px;
  margin: auto;
  position: relative;
  top: 100px;
  background-color: variables.$bgColorTasksLight;
}

.headerElement {
  width: 354px;
  height: 90px;
  background-color: variables.$bgColorHeaderLight;
  color: white;
  border-radius: 5px;
}

.myTasksText {
  text-align: center;
  padding: 24px;
}

.addTask, .saveTask{
  position: relative;
  display: flex;
  justify-content: center;
  border-color: transparent;
}

.addedTask {
  background-color: variables.$bgColorInputLight;
  border: variables.$borderInputLight;
  border-left-color: aqua;
  border-radius: 3px;
  height: 45px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  resize: none;
  outline: none;
  text-decoration: none;
}

.footerElement {
  width: 354px;
  display: flex;
  justify-content: space-evenly;
}

.listOfTasks {
  width: 333px;
  height: 305px;
  border: variables.$borderListOfTasksLight;
  margin: 10px auto;
  border-radius: 3px;
  overflow-y: scroll;
}

.taskField {
  height: 80px;
  position: relative;
  top: -33px;
}

i {
  font-size: 20px;
  margin: 8px;
  cursor: pointer;
}

.icons {
  position: relative;
  top: -39px;
  right: -242px;
  transition: background-color ease-in 1s;
}

#edit {
  position: relative;
  margin-left: 10px;
  top: 41px;
  font-size: 17px;
}

//for dark theme:

body.dark {
  background-color: variables.$bgColorDark;
}

.tasks.dark {
  background-color: variables.$bgColorTasksDark;
}

.headerElement.dark {
  background-color: variables.$bgColorHeaderDark;
  color: variables.$colorMyTasks;
}

.addTask.dark {
  background-color: variables.$bgColorAddTaskDark;
}

.saveTask.dark {
  background-color: variables.$bgColorSaveTaskDark;
}

.listOfTasks.dark {
  border: variables.$borderListOfTasksDark;
}













